footer {
    /* Box Model */
    padding: 0.625rem 0 0.625rem 0;
    /* Visual */
    background-image: url(../images/fondo.png);
    background-position: right;
}

.footer__redesSociales {
    /* Box Model */
    margin-right: .5em;
    /* Text */
    text-align: right;
}

.footer__iconosSociales {
    /* Box Model */
    width: 25px;
}