@import "variables.scss";
.header__menu--fondo {
    /* Visual */
    background-image: url(../images/fondo.png);
    background-position: right;
}

.navbar-brand--size {
    // Box Model
    width: 100px;
    margin: 0 2rem 0 2rem;
}

.header__img--size {
    /* Box model */
    width: ($width);
}

.header__botonera--fondo {
    /* Visual */
    background-color: $marronClaro;
    /* Others */
    opacity: 1;
}

.header__a--style {
    /* Text */
    font-weight: bold;
    &:hover {
        /* Box Model */
        border-radius: $bradius1;
        /* Visual */
        background-image: linear-gradient(to left, $blancoHumo, $marronClaro);
        color: $marronOscuro;
    }
}

.header__img--icono {
    // Box model
    width: 20px;
}