@charset "UTF-8";
.navbar--style {
  /* Visual */
  background-image: url(../../multimedia/images/fondo.png);
  background-position: right; }

.navbar-brand--style {
  margin: 0 3.7rem 0 2rem; }

.header__a--style {
  /* Text */
  font-weight: bold; }

.header__a--style:hover {
  /* Box Model */
  border-radius: 0.125rem;
  /* Visual */
  background-image: linear-gradient(to left, #BABCBF, #A66B38); }

.header__img--icon {
  width: 1.0625rem; }

footer {
  /* Box Model */
  padding: 0.625rem 0 0.625rem 0;
  /* Visual */
  background-image: url(../../multimedia/images/fondo.png);
  background-position: right; }

.footer__socialMedia {
  /* Box Model */
  margin-right: .5em;
  /* Text */
  text-align: right; }

.footer__socialIcons {
  /* Box Model */
  width: 1.5625rem; }

* {
  /* Box Model */
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  max-height: 100vh;
  /* Text */
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /* Visual */
  background-image: url(../../multimedia/images/fondo.png); }

/* -------------------------------------------Belongs to Main------------------------------- */
main {
  /* Box Model */
  height: 78vh;
  overflow-y: auto; }

h4,
.carousel-caption--style {
  color: #000000;
  font-weight: bold;
  /* Visual */
  background-color: #BABCBF;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  /* Others */
  opacity: .8; }

.adviceSearch::-webkit-scrollbar,
main::-webkit-scrollbar {
  -webkit-appearance: none; }

.adviceSearch::-webkit-scrollbar:vertical,
main::-webkit-scrollbar:vertical {
  width: 0.625rem; }

.adviceSearch::-webkit-scrollbar-button:increment,
.adviceSearch::-webkit-scrollbar-button,
main::-webkit-scrollbar-button:increment,
main::-webkit-scrollbar-button {
  display: none; }

.adviceSearch::-webkit-scrollbar:horizontal,
main::-webkit-scrollbar:horizontal {
  height: 0.325rem; }

.adviceSearch::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  background-color: #BABCBF;
  border-radius: 0.625rem; }

.adviceSearch::-webkit-scrollbar-track,
main::-webkit-scrollbar-track {
  border-radius: 0.625rem; }

/* -------------------------------------------index------------------------------- */
.carousel-item-receta9 {
  font-weight: bold;
  font-size: 1.1rem;
  /* Visual */
  background-position: center;
  background-size: cover;
  background-image: url(../../multimedia/images/receta9.jpg); }

.carousel-item-roast {
  font-weight: bold;
  font-size: 1.1rem;
  /* Visual */
  background-position: center;
  background-size: cover;
  background-image: url(../../multimedia/images/asado.jpg); }

.carousel-item-receta4 {
  font-weight: bold;
  font-size: 1.1rem;
  /* Visual */
  background-position: center;
  background-size: cover;
  background-image: url(../../multimedia/images/receta4.jpg); }

/* -------------------------------------------Mis recaets------------------------------- */
.card--style {
  height: 72vh;
  box-shadow: 0.125rem 0.125rem 0.625rem #000000; }

.card__img--size {
  height: 30vh;
  border-radius: 0.125rem; }

.btn-color {
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.card-title--style {
  color: #000000;
  font-weight: bold; }

.a-style {
  color: #000000; }

.modal-content--color {
  background-image: url(../../multimedia/images/fondo.png);
  background-position: right; }

/* -------------------------------------------Consejos------------------------------- */
.title {
  margin-bottom: 2rem; }

.adviceSearch {
  /* Box Model */
  display: inline-block;
  width: 400px;
  height: 21.875rem;
  margin: 0.625rem;
  overflow-y: scroll;
  /* Visual */
  background-color: #BABCBF;
  border-radius: 0.125rem;
  box-shadow: 0.125rem 0.125rem 0.625rem #000000;
  opacity: .7; }

.animate__animated {
  transition: 2s 5s ease-in-out; }

.search {
  /* Box Model */
  width: 90vw;
  /* Text */
  text-align: center;
  /* Visual */
  border: none;
  background-color: transparent;
  border-radius: 0.125rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  outline: none; }

.search:hover,
.adviceSearch:hover {
  /* Others */
  opacity: 1; }

.search:active {
  /* Others */
  border: none; }

.adviceText {
  /* Box Model */
  margin: 0.625rem; }

/* -------------------------------------------communities------------------------------- */
.community-container {
  /* Box Model */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 1rem 0 1rem; }

.communities {
  /* Box Model */
  width: 10rem;
  height: 10rem;
  margin: .7rem;
  /* Text */
  font-weight: bold;
  /* Visual */
  background-color: #BABCBF;
  border-radius: 0.125rem;
  background-size: cover;
  box-shadow: 0.125rem 0.125rem 0.625rem #000000;
  transition: transform 1s ease-in-out; }

.communities:hover {
  /* Others */
  transform: scale(1.2, 1.2); }

.roast {
  /* Visual */
  background-image: url(../../multimedia/images/asado.jpg); }

.vegan {
  /* Visual */
  background-image: url(../../multimedia/images/vegano.jpg); }

.vegetarian {
  /* Visual */
  background-image: url(../../multimedia/images/vegetariano.jpg); }

.lactose {
  /* Visual */
  background-image: url(../../multimedia/images/lactosa.jpg); }

.celiac {
  /* Visual */
  background-image: url(../../multimedia/images/celiaco.jpg); }

.avocado {
  /* Visual */
  background-image: url(../../multimedia/images/palta.jpg); }

.regional {
  /* Visual */
  background-image: url(../../multimedia/images/comida-regional.jpg); }

.latino {
  /* Visual */
  background-image: url(../../multimedia/images/comida-latina.jpg); }

.arab {
  /* Visual */
  background-image: url(../../multimedia/images/falafel.jpg); }

.pizza-time {
  /* Visual */
  background-image: url(../../multimedia/images/pizza.jpg); }

.white-meat {
  /* Visual */
  background-image: url(../../multimedia/images/pollo.jpg); }

.dessenrts {
  /* Visual */
  background-image: url(../../multimedia/images/postre.jpg); }

.chinese {
  /* Visual */
  background-image: url(../../multimedia/images/comida-china.jpg); }

.mexican {
  /* Visual */
  background-image: url(../../multimedia/images/taco.jpg); }

/* -------------------------------------------Usuario------------------------------- */
.form-container {
  /* Box Model */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem; }

.send__delete--container {
  /* Box Model */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.form {
  /* Box Model */
  width: 12.5rem;
  margin: 0.625rem;
  /* Text */
  text-align: center;
  /* Visual */
  background-color: inherit;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.125rem;
  border: none; }

.formulario:active {
  border: none; }

.newsletter {
  box-shadow: none; }

.label-form {
  /* Box Model */
  width: 6.25rem;
  display: inline-block;
  /* Text */
  text-align: center; }

label {
  /* Text */
  font-weight: bold; }

option {
  background-color: #BABCBF; }

/* -------------------------------------------Mi menú------------------------------- */
.filters {
  overflow-x: auto; }

.filter {
  display: block; }

.filters-container {
  margin: 0 0.5rem 0.625rem 0.5rem;
  padding: 0.3125rem;
  border-radius: 0.125rem; }

.menu-box {
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000; }

.menu-box--notBottom {
  border-right: 2px solid #000000; }

.last-menu-box {
  border-right: none; }

.calendar {
  min-width: 270px;
  margin-top: 1rem;
  display: none;
  box-shadow: 0.125rem 0.125rem 0.625rem #000000;
  background-image: url(../../multimedia/images/fondo.png);
  background-position: center;
  overflow-x: auto; }

#weekly:checked ~ .calendar-monthly {
  display: none; }

#weekly:checked ~ .calendar-weekly {
  display: block; }

#monthly:checked ~ .calendar-weekly {
  display: none; }

#monthly:checked ~ .calendar-monthly {
  display: block; }

ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0; }

.days {
  font-weight: bold;
  background-color: #BABCBF; }

.menu-meals {
  margin: 1rem; }

.download {
  /* Box model */
  border-radius: 0.125rem;
  padding: .5rem;
  margin-top: 2rem;
  /* Text */
  font-weight: bold;
  /* Visual */
  border: none;
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  .download:hover {
    /* Box Model */
    border-radius: 0.125rem;
    /* Visual */
    background-image: linear-gradient(to left, #BABCBF, #A66B38); }

#shop-list-no:checked ~ .downloadList {
  display: none; }

.download-text {
  margin: .3rem; }

/* -------------------------------------------Página 404------------------------------- */
.section-404 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 80vh;
  justify-content: center; }

.h1-404 {
  font-size: 2rem; }

.img-404 {
  width: 18.75rem;
  opacity: .9; }

.a-404 {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 2rem; }

/* -------------------------------------------Responsive------------------------------- */
@media only screen and (max-width: 480px) {
  .adviceSearch {
    width: 270px; } }
