footer {
    /* Box Model */
    padding: 0.625rem 0 0.625rem 0;
    /* Visual */
    background-image: url(../../multimedia/images/fondo.png);
    background-position: right;
}

.footer__socialMedia {
    /* Box Model */
    margin-right: .5em;
    /* Text */
    text-align: right;
}

.footer__socialIcons {
    /* Box Model */
    width: 1.5625rem;
}