@import "variables.scss";
.navbar--style {
    /* Visual */
    background-image: url(/multimedia/images/fondo.png);
    background-position: right;
}

.navbar-brand--style {
    // Box Model
    margin: 0 3.7rem 0 2rem;
}

.header__a--style {
    /* Text */
    font-weight: bold;
}

.header__a--style:hover {
    /* Box Model */
    border-radius: $bradius1;
    /* Visual */
    background-image: linear-gradient(to left, $blancoHumo, $marronClaro);
}

.header__img--icono {
    // Box model
    width: 1.0625rem;
}