@import "variables.scss";
@import "header.scss";
@import "footer.scss";
* {
    /* Box Model */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // Box Model
    max-height: 100vh;
    /* Text */
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    /* Visual */
    background-image: url(../../multimedia/images/fondo.png);
}


/* -------------------------------------------Belongs to Main------------------------------- */

main {
    /* Box Model */
    height: 77vh;
    overflow-y: auto;
}

h4,
.carousel-caption--style {
    // Text
    color: #000000;
    font-weight: bold;
    /* Visual */
    background-color: $smokeWhite;
    border-top-left-radius: $bradius1;
    border-top-right-radius: $bradius1;
    /* Others */
    opacity: .8;
}

// Scrollbar
.adviceSearch::-webkit-scrollbar,
main::-webkit-scrollbar {
    // Visual
    -webkit-appearance: none;
}

.adviceSearch::-webkit-scrollbar:vertical,
main::-webkit-scrollbar:vertical {
    // Box Model
    width: 0.625rem;
}

.adviceSearch::-webkit-scrollbar-button:increment,
.adviceSearch::-webkit-scrollbar-button,
main::-webkit-scrollbar-button:increment,
main::-webkit-scrollbar-button {
    // Box Model
    display: none;
}

.adviceSearch::-webkit-scrollbar:horizontal,
main::-webkit-scrollbar:horizontal {
    // Box Model
    height: 0.325rem;
}

.adviceSearch::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
    // Visual
    background-color: $smokeWhite;
    border-radius: 0.625rem;
}

.adviceSearch::-webkit-scrollbar-track,
main::-webkit-scrollbar-track {
    // Visual
    border-radius: 0.625rem;
}


/* -------------------------------------------index------------------------------- */

@mixin carousel {
    // Text
    font-weight: bold;
    font-size: 1.1rem;
    /* Visual */
    background-position: center;
    background-size: cover;
}

.carousel-item-receta9 {
    @include carousel;
    // Visual
    background-image: url(/multimedia/images/receta9.jpg);
}

.carousel-item-roast {
    @include carousel;
    // Visual
    background-image: url(/multimedia/images/roast.jpg);
}

.carousel-item-receta4 {
    @include carousel;
    // Visual
    background-image: url(/multimedia/images/receta4.jpg);
}


/* -------------------------------------------Mis recaets------------------------------- */

.card--style {
    // Box Model
    height: 72vh;
    // Visual
    box-shadow: $shadowBlack
}

.card__img--size {
    // Box Model
    height: 30vh;
    // Visual
    border-radius: $bradius1;
}

.btn-color {
    // Visual
    background-color: transparent;
    box-shadow: $shadowGrey;
}

.card-title--style {
    // Text
    color: #000000;
    font-weight: bold;
}

.a-style {
    // Text
    color: #000000;
}

.modal-content--color {
    // Visual
    background-image: url(/multimedia/images/fondo.png);
    background-position: right;
}


/* -------------------------------------------Consejos------------------------------- */

.title {
    // Box Model
    margin-bottom: 2rem;
}

.adviceSearch {
    /* Box Model */
    display: inline-block;
    width: 400px;
    height: 21.875rem;
    margin: 0.625rem;
    overflow-y: scroll;
    /* Visual */
    background-color: transparent;
    border-radius: $bradius1;
    box-shadow: $shadowBlack;
    // Others
    opacity: .7;
}

.animate__animated {
    transition: 0s 5s ease-in-out;
}

.search {
    /* Box Model */
    width: 90vw;
    /* Text */
    text-align: center;
    /* Visual */
    border: none;
    background-color: transparent;
    border-radius: $bradius1;
    box-shadow: $shadowGrey;
    outline: none;
    // Others
    opacity: .8;
}

.search:hover,
.adviceSearch:hover {
    /* Others */
    opacity: 1;
}

.search:active {
    /* Others */
    border: none;
}

.adviceText {
    /* Box Model */
    margin: 0.625rem;
}


/* -------------------------------------------communities------------------------------- */

.community-container {
    /* Box Model */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 1rem 0 1rem;
}

.communities {
    /* Box Model */
    width: 10rem;
    height: 10rem;
    margin: .7rem;
    /* Text */
    font-weight: bold;
    /* Visual */
    background-color: $smokeWhite;
    border-radius: $bradius1;
    background-size: cover;
    box-shadow: $shadowBlack;
    transition: transform 1s ease-in-out;
}

.communities:hover {
    /* Others */
    transform: scale(1.2, 1.2);
}

.roast {
    /* Visual */
    background-image: url(/multimedia/images/asado.jpg);
}

.vegan {
    /* Visual */
    background-image: url(/multimedia/images/vegano.jpg);
}

.vegetarian {
    /* Visual */
    background-image: url(/multimedia/images/vegetariano.jpg);
}

.lactose {
    /* Visual */
    background-image: url(/multimedia/images/lactosa.jpg);
}

.celiac {
    /* Visual */
    background-image: url(/multimedia/images/celiaco.jpg);
}

.avocado {
    /* Visual */
    background-image: url(/multimedia/images/palta.jpg);
}

.regional {
    /* Visual */
    background-image: url(/multimedia/images/comida-regional.jpg);
}

.latino {
    /* Visual */
    background-image: url(/multimedia/images/comida-latina.jpg);
}

.arab {
    /* Visual */
    background-image: url(/multimedia/images/falafel.jpg);
}

.pizza-time {
    /* Visual */
    background-image: url(/multimedia/images/pizza.jpg);
}

.white-meat {
    /* Visual */
    background-image: url(/multimedia/images/pollo.jpg);
}

.dessenrts {
    /* Visual */
    background-image: url(/multimedia/images/postre.jpg);
}

.chinese {
    /* Visual */
    background-image: url(/multimedia/images/comida-china.jpg);
}

.mexican {
    /* Visual */
    background-image: url(/multimedia/images/taco.jpg);
}


/* -------------------------------------------Usuario------------------------------- */

.form-container {
    /* Box Model */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
}

.send__delete--container {
    /* Box Model */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.form {
    /* Box Model */
    width: 12.5rem;
    margin: 0.625rem;
    /* Text */
    text-align: center;
    /* Visual */
    background-color: inherit;
    box-shadow: $shadowGrey;
    border-radius: $bradius1;
    border: none
}

.formulario:active {
    // Visual
    border: none
}

.newsletter {
    // Visual
    box-shadow: none;
}

.label-form {
    /* Box Model */
    width: 6.25rem;
    display: inline-block;
    /* Text */
    text-align: center;
}

label {
    /* Text */
    font-weight: bold;
}

option {
    // Visual
    background-color: $smokeWhite;
}


/* -------------------------------------------Mi menú------------------------------- */

.filters {
    // Others
    overflow-x: auto;
}

.filter {
    // Box Model
    display: block;
}

.filters-container {
    // Box Model
    margin: 0 0.5rem 0.625rem 0.5rem;
    padding: 0.3125rem;
    // Visusal
    border-radius: $bradius1;
}

.menu-box {
    // Visual
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}

.last-menu-box {
    // Visual
    border-right: none;
}

.calendar {
    // Box Model
    min-width: 270px;
    margin-top: 1rem;
    display: none;
    // Visual
    box-shadow: $shadowBlack;
    // Others
    overflow-x: auto;
}

#weekly:checked~.calendar-monthly {
    // Box Model
    display: none;
}

#weekly:checked~.calendar-weekly {
    // Box Model
    display: block;
}

#monthly:checked~.calendar-weekly {
    // Box Model
    display: none;
}

#monthly:checked~.calendar-monthly {
    // Box Model
    display: block;
}

ol {
    // Box Model
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}

.days {
    // Text
    font-weight: bold;
    // Visual
    background-color: $smokeWhite;
}

.menu-meals {
    // Box Model
    margin: 1rem;
}

.download {
    /* Box model */
    border-radius: $bradius1;
    padding: .5rem;
    margin-top: 2rem;
    /* Text */
    font-weight: bold;
    /* Visual */
    border: none;
    background-color: transparent;
    box-shadow: $shadowGrey;
    &:hover {
        /* Box Model */
        border-radius: $bradius1;
        /* Visual */
        background-image: linear-gradient(to left, $smokeWhite, $lightBrown);
    }
}

#shop-list-no:checked~.downloadList {
    display: none;
}

.download-text {
    margin: .3rem;
}


/* -------------------------------------------Página 404------------------------------- */

.section-404 {
    // Box Model
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80vh;
    justify-content: center;
}

.h1-404 {
    // Text
    font-size: 2rem;
}

.img-404 {
    // Box Model
    width: 18.75rem;
    // Others
    opacity: .9;
}

.a-404 {
    // Box Model
    display: block;
    // Text
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
}


/* -------------------------------------------Responsive------------------------------- */

@import "responsive.scss"